<div class="container-home">
    <div class="container-rtp">
        <a href="http://localhost:4000/realtimeproducts">Administrar productos</a>
    </div>
    <div class="container-view-products">
        <h2 class="title-view-products">Vista de productos</h2>
        <form method="GET" action="/" class="mb-4">
            <div class="form-group">
                <label for="category">Filtrar por categoría:</label>
                <select 
                name="category" 
                id="category" 
                class="form-control"
                onchange="this.form.submit()"
                >
                <option value="">Todas las categorías</option>
                {{#each categories}}
                    <option 
                    value="{{this.value}}" 
                    {{#if (eq this.value ../selectedCategory)}}selected{{/if}}
                    >
                    {{this.text}}
                    </option>
                {{/each}}
                </select>
            </div>
        </form>
        <form action="/" method="get" class="sort-form">
            <label for="sort">Ordenar por:</label>
            <select name="sort" id="sort" onchange="this.form.submit()">
                {{#each sortOptions}}
                <option value="{{this.value}}" {{#if (eq this.value ../currentSort)}}selected{{/if}}>
                    {{this.text}}
                </option>
                {{/each}}
            </select>
        </form>
        {{#if products.length}}
            <div class="home-container-products">
                {{#each products}}

                    <div class="cart-product">
                        <img src="{{this.img_producto}}" alt="{{this.nombre_producto}}" class="img-table">
                        <p>{{this.nombre_producto}}</p>
                        <p>${{this.precio_producto}}</p>
                        <a href=products/{{this._id}}>Ver producto</a>
                    </div>
                    
                {{/each}}
            </div>
        {{else}}
        <p>No hay productos disponibles.</p>
        {{/if}}
    </div>
</div>
</div>

<script src="/js/home.js"></script>
